/* RESPONSIVE */

@media (max-width:949.98px){
    .header-menu {
        display: none;
        flex-direction: column;
        gap: 12px;
        background-color: white;
        position: absolute;
        top: 80px;
        right: 20px;
        left: 20px;
        z-index: 1000;
        box-shadow: 0 4px 16px rgba(0,0,0,0.08);
        border-radius: 8px;
        padding: 16px 0;
    }
    .control{
        order: 2;
        justify-content: flex-end;
        margin-top: 20px;
    }
    .search-box{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
    }
    .header-menu li{
        border-bottom: 1px solid #cecece;
    }
    .header-menu ul{
        flex-direction: column;
    }
    .header-menu.show{
        display: flex!important;
    }
    .header-menu-burger{
        display: flex;
        position: relative;
        background-color: #1ec6b6;
        width: 50px;
        height: 50px;
        margin: 5px 20px 5px 0;
        justify-content: center;
        align-items: center;
        z-index: 1100;
    }
}

@media (max-width:795.98px){
    .search-loc{
        grid-template-columns: 1fr;
    }
    .search-loc-title{
        margin-top: 20px;
    }
    .search-inputs{
        margin-right: 20px;
        margin-left: 20px;
    }
    .search-loc-button{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width:795.98px){
    .gallery-images{
        grid-template-columns: auto;
    }
}

@media (max-width:795.98px){
    .sub{
        grid-template-columns: 1fr;
    }
    .sub-title{
        margin-top: 20px;
    }
    .sub-input{
        margin-right: 20px;
        margin-left: 20px;
    }
    .sub-button{
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width:574.98px){
    .footer{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .footer-menu{
        justify-content: center;
    }
}